*{
    width: 1360px;
    margin: 0 auto;
    padding: 0;
}
.name{
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
    color: #096071;
    font-size: 50px;
}
.container1 {
    float: left;
    width: 710px;
    height: 110px;
    padding: 3px;
}
.container2{
    float: left;
    width: 710px;
    height: 400px;
    padding: 3px;
}
.container3{
    float: right;
    width: 40%;
    height: auto;
    margin-right: 50px;
    background-color: #EADEDE;
    font-size: 25px;
    text-align: center;
    padding-top: 1%;
}
.container3 img{
    width: 90%;
    margin: 1% 5% 5% 5%;
}
.location{
    float: left;
    background-color: #EADEDE;
    width: 397px;
    height: 70px;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
   /*transform: translateY(-50%);*/
}
.coord{
    float: right;
    background-color: rgba(176, 204, 209, 0.329);
    width: 270px;
    height: 90px;
    color: black;
    font-size: 16px;
    line-height: 25px;
    padding-top: 10px;
    padding-left: 30px;
}
.container-stat{
    float: left;
    width: 330px;
    height: 380px;
}
.total {
    width: 327px;
    height: 187px;
    background-color: #1FA1B9;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}
.speed{
    width: 327px;
    height: 116px;
    background-color: #1FA1B9;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}
.temperature{
    width: 327px;
    height: 116px;
    background-color: #1FA1B9;
    border-radius: 5px;
    color: white;
}
#title{
    font-size: 30px;
    padding-top: 25px;
    padding-left: 50px;
    padding-bottom: 10px;
}
#title2{
    font-size: 25px;
    padding-top: 15px;
    padding-left: 50px;
    padding-bottom: 10px;
}
#weight1{
    font-size: 60px;
    padding-left: 40px;
    padding-top: 0px;
    width: 200px;
}
#weight{
    font-size: 40px;
    padding-left: 40px;
    padding-top: 0px;
    width: 200px;
}
#lb{
    float: right;
    font-size: 35px;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 100px;
}
#drone{
    font-size: 35px;
    line-height: 80px;
    padding-left: 40px;
}
.battery{
    float: right;
    width: 369px;
    height: 437px;
    background-color: #ADB91F;
    border-radius: 5px;
    color: white;
}